body {
    margin: 0px;
    padding: 0px;
}

body .page-wrapper {
    overflow: hidden;
}

header.admin-header {
    background: #2d3e50 none repeat scroll 0 0;
    margin: 0 auto;
    padding-top: 11px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.admin-header .left-side {
  text-align: left;
}

.admin-header .right-side {
  text-align: right;
}

.site-logo {
    color: #fff;
}

/* Main Content */

.page-wrapper .main-content {
    padding-top: 55px;
}

/* Sidebar Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background: #2D3E50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
}

/* Admin Content */

.main-content > .col-md-10 {
    top: 15px;
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 40px;
}

/* Category Section */

#category-form img {height: auto; width: 100%;}
.dataTables_wrapper::after{
    height:30px;
}
.form-group {
        overflow: hidden;
}