@import 'https://fonts.googleapis.com/css?family=Lato|Raleway:400,500,700,800,900';
body{font-family: 'Lato', sans-serif; font-size:14px; transition:all 0.3s ease; outline:none; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{font-family: 'Raleway', sans-serif; color:#2d3e50; font-weight: bold; text-transform:uppercase;}
h1{font-size:65px;}
h2{font-size:55px;}
h3{font-size:40px;}
h4{font-size:28px;}
h5{font-size:25px;}
h6{font-size:20px;}
a{text-decoration:none; transition:all 0.3s ease; outline:none;}
a:hoevr{text-decoration:none;}
p {margin: 10px 0;}
/*img {max-height: 100% !important; max-width: 100% !important;}*/

/* Main div */
.top-container.container-fluid {padding-left: 0; padding-right: 0;}

/* Header */
header { background: #2d3e50 none repeat scroll 0 0; margin: 0 auto; height:110px; padding: 35px 0 0; width: 100%;}
.navbar .navbar-nav > li > a {color: #ffffff; padding: 9px 16px; text-transform: uppercase; border-radius: 4px;}
.navbar .navbar-nav li .download-link, .download-link {background: #05c2f9; border: 1px solid #05c2f9; border-radius: 4px; color: #ffffff;}
.btn{text-transform:uppercase; padding: 8px 15px;}
.navbar-nav > li.active {border-bottom: 2px solid #05c2f9;}
.navbar-nav > li {margin-left: 15px;}
.nav > li > a:focus, .nav > li > a:hover {background-color: #05c2f9; text-decoration: none;}
.app-image > img {height: 480px; width: auto; bottom: -100px; position: relative;}
.top-business-menu a.active {background:#05c2f9;}

/* Main Content */
.top-container .main-content {min-height: 350px;}
.#category-form img{width: auto;}
/* Home Page Main Content */
.first-section {background: #2d3e50; padding-top: 35px;}
.first-section .download-weafrican h2 {color: #ffffff; font-weight: bold; font-size:62px; margin: 115px 0 30px;}
.first-section .download-weafrican p {color: #ffffff; font-family: raleway; font-size: 14px; font-weight: bold; margin: 0 0 30px;}
.bottom-links {bottom: -70px; position: relative; text-align: center;}
.bottom-links .list-inline > li {margin-left: 50px;}

.about-weafrican {padding-top: 180px; padding-bottom: 50px;}
.blue-heading{color:#05C2F9;}
.weafrican-detail {margin-bottom: 60px;}
.app-intro {padding-top: 70px;}
.app-intro h4  , .app-intro  p{margin-bottom: 25px;}
.site-button {border: 1px solid #05c2f9;}
.site-button:hover {background: #05c2f9; border: 1px solid #05c2f9; color: #ffffff;}

.greyed-section {background: #f0f0f0; padding: 50px 0;}
.greyed-section h4 {font-weight: 500;}

.app-features{padding:50px 0;}
.app-features .margin-bottom {margin-bottom: 40px;}
.feature-container > img {left: 50px; position: relative; top: 220px; transform: scale(1.5);}
.feature-item {margin-bottom: 30px; overflow: hidden;}
.feature-item .left-side {padding: 0 5px 0 0;}
.feature-item .right-side {padding: 0 0 0 5px;}
.feature-item .left-side img {width: 65px;}
.feature-item .right-side h4 {margin-top: 0;}
.feature-item:nth-child(2) , .feature-item:nth-child(4) {padding-left:50px; position: relative;}
.feature-item:nth-child(3){padding-left:100px; position:relative;}
.feature-item:nth-child(3) .right-side h4 {margin-top: 15px;}

.download-section {background: #2d3e50; padding: 50px 0;}
.download-section .list-inline , .download-section p{margin: 40px 0 0;}
.download-section .list-inline > li {margin: 0 20px;}
.download-section .list-inline img {height: 60px;}
.white{color:#fff;}

.video-section p {margin: 30px 0;}
.video-section {padding: 50px 0;}
/*register-business css*/
.register-business {margin: 0 auto; width: 80%;}
.form-group .required.control-label:after { content:"*";color:red;}
.register-business .dl-horizontal {overflow: hidden; padding-bottom: 15px;
  padding-top: 15px;}
.business-profile {border: 1px solid;overflow: hidden;}
.dl-horizontal dt {float: left; padding: 3px;text-align: right;width: 30%;}
.business-right .dl-horizontal dd {padding: 5px;width: 50%;}
.business-right dt {width: 50%;padding: 5px;}
.dl-horizontal dd {float: left;margin: 0;overflow: hidden;
  padding: 4px 0 4px 51px;width: 70%;}
.pending.btn-danger.label,.verified.btn-success.label {border-radius: 9px;font-size: 15px;padding: 8px 10px;}
.top-business-menu {margin: 0 auto;width: 80%;}
.top-business-menu .nav.nav-pills {float: right;margin-top: 16px;text-transform: uppercase;}
.panel.panel-default.document {padding: 30px;}
.form-group.required .control-label:after { content:"*";color:red;}
.business_image {height: 200px !important;width: 100% !important;}
.event_image {height: 200px !important;width: 100% !important;}

/*business-profile-page*/
.col-md-2.item {padding: 15px;width: 20%;text-align: center;}
.comment-section .item .label {padding: 1.2em 3.6em 1.3em;}
.comment-section .label .fa {font-size: 22px;vertical-align: middle;}
.comment-section .badge {padding: 5px 10px;position: absolute;top: 7px;}
.comment-section.col-md-12 {border-top: 1px solid #dadada;}

/*business-event-page*/
.datepicker div.datepicker-months td,
.datepicker div.datepicker-years td,.datepicker.days div.datepicker-days td {width: 240px !important;}
.register-business .panel tbody tr td form {display: inline-block;}
.register-business .panel .banner_image {height: 200px;object-fit: cover; width: 100%;}

/* Login Page */
.top-container .main-content .main-container.row { padding:50px 0;}

/* Footer */
footer{background: #2d3e50; padding: 50px 0;}
footer .text-right p {color: #ffffff; margin: 0; text-transform: capitalize;}
footer .available {margin-top: 20px;}
footer .available .list-inline > li {padding-right: 0;}
.footer-linkss a {color: #ffffff; display: inline-block; text-decoration: none; text-transform: uppercase; padding: 0 2px;}
.footer-linkss a:hover {transform: scale(1.2);}
.available .list-inline {margin: 0;}

/* Responsive */
@media all and (max-width:1200px){
	.container {width: 90%;}
}
@media all and (max-width:1024px){	
	.navbar-collapse {padding: 0;}
	.navbar .navbar-nav > li > a {padding: 4px 10px;}
	.navbar-nav > li {margin-left: 5px;}	
}
@media all and (max-width:992px){
	.bottom-links .list-inline > li {margin-left: 0; width: 32%;}
	.first-section .download-weafrican h2 {margin: 120px 0 30px;}
	.first-section {padding-top: 70px;}
}
@media all and (max-width:767px){	
	.navbar {  margin: 40px 0 0;}
	.logo{text-align:center;}
	.navbar-header button {border: 1px solid #ffffff;}
	.navbar-toggle .icon-bar {background: #ffffff;}
	.navbar-collapse {background: #2d3e50;}
	header {background: #2d3e50; padding: 50px 0 0; position: static;}
	.first-section {padding-top: 0; text-align: center;}
	.first-section .download-weafrican h2 {margin: 60px 0 30px;}
	.nav.navbar-nav { margin: 5px 0;}
	.navbar-nav > li {margin: 5px 0;}
	.app-image > img {bottom: -100px; height: 350px;}
	.about-weafrican { padding-top: 110px; text-align: center;}
	.app-intro {padding-top: 20px; text-align: center;}
	.greyed-section .text-center.col-xs-12 {margin-bottom: 20px;}
	.feature-container > img {position: static; transform: scale(1);}
	.feature-item:nth-child(2), .feature-item:nth-child(4) {padding-left: 0px;}
	.feature-item:nth-child(3) { padding-left:0px;}
	.app-features {text-align: center;}
	.download-section .list-inline > li {box-sizing: border-box; margin: 0; padding: 0 2px; width: 30%;}
	.download-section .list-inline img { height: 42px;}
	footer .text-left, footer .text-right {text-align: center;}
}
@media all and (max-width:479px){	
	.first-section .download-weafrican h2 {font-size: 40px;}
	.container {padding: 0;}
	.download-section .list-inline > li {margin: 0 0 15px; width: 100%;}
	.download-section .list-inline img {height: auto; width: 200px;}
}
/*Map css*/
#map {height: 300px;width:100%;}

/* Register Page */
.form-control.code {
    float: left;
    width: 15%;
    padding-right: 10px;
}
.form-control.mobile {
    float: right;
    width: 80%;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 25px;
}
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]::after {
    background: #222 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    content: attr(data-tip);
    display: none;
    font-size: 13px;
    height: 30px;
    left: 0;
    line-height: 18px;
    overflow-wrap: normal;
    padding: 5px 8px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
    z-index: 9;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}